a2a-sdk
ag-ui-protocol
agent-framework
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anthropic
anyio
asyncio
attrs
azure-ai-inferenceb9
azure-ai-projects
azure-common
azure-core
azure-cosmos
azure-functions
azure-functions-durable
azure-identity
azure-search-documentsb2
azure-storage-blob
backoff
boto3
botocore
certifi
cffi
charset-normalizer
claude-agent-sdk
click
cryptography
cuda-bindings
cuda-pathfinder
cuda-toolkit
distro
docstring_parser
durabletask
durabletask.azuremanaged
fastapi
filelock
foundry-local-sdk
frozenlist
fsspec
furl
github-copilot-sdk
google-api-core
google-auth
googleapis-common-protos
greenlet
griffelib
grpcio
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
httpx-sse
huggingface_hub
hyperframe
idna==3.13
importlib_metadata
isodate
Jinja2
jiter
jmespath
joblib
jsonpath-ng
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mcp
mdurl
mem0ai
microsoft-agents-activity
microsoft-agents-copilotstudio-client
microsoft-agents-hosting-core
ml_dtypes
mpmath
msal
msal-extensions
multidict
networkx
numpy
nvidia-cublas.3
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13.56
nvidia-cufft.61
nvidia-cufile
nvidia-curand.35
nvidia-cusolver.66
nvidia-cusparse.3
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
ollama
openai
openai-agents
openai-chatkit
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
orderedmultidict
packaging
pip-review
portalocker
posthog
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
python-dateutil.post0
python-dotenv
python-multipart
python-ulid
pytz
PyYAML
qdrant-client
redis
redisvl
referencing
regex
requests
rich
rpds-py
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
SQLAlchemy
sqlite-vec
sse-starlette
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
triton
typer
types-requests.20260408
typing-inspection
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
Werkzeug
yarl
zipp
